body {
  background-color: rgb(199, 199, 199);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

.card {
  height: 674px;
  width: 425px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.mainSquare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.mainSquare::after {
  content: "";
  background-color: hsl(341, 100%, 25%);
  display: block;
  width: 80%;
  height: 1px;
  position: absolute;
  bottom: 0px;
}

.nameLogo {
  background-image: url("files/erevanayen_logo_BW2.png");
  background-size: 100% 100%;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.name {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 23px;
  text-align: center;
}

.sideRect {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.linkButton {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: black;
  margin: 10px;
  margin-left: 25%;
  width: 50%;
}
