@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

:root {
  font-family: "Share Tech Mono", monospace;
  --col-dark-gray: #333333;
  --col-mid-gray: #5c5c5c;
  --col-light-gray: #999999;
  --col-primary: #ff105c;
  --col-secondary: #f6d100;
}

body,
html {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  color: #ffffff;
  background-color: #000000;
  font-size: 16px;
  line-height: 1em;

  margin: 0px;
}

.code-gray {
  color: var(--col-mid-gray);
}

.code-light {
  color: var(--col-light-gray);
}

#letters {
  width: 100%;
  height: 100svh;
  overflow-y: hidden;

  user-select: none;

  background: #000000;
}

.unrendered {
  display: flex;
  flex-direction: column; 
  justify-content: center;

}

#let-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 35%);
}

.comment-line {
  color: var(--col-dark-gray);
}

.code-line,
#pre-line,
#post-lines {
  /* This is set in script for generated lines */
  white-space: nowrap;
  overflow: hidden;
}

#line-prefix,
#line-postfix,
#pre-lines,
#post-lines {
  color: var(--col-dark-gray);
}

#p-name {
  color: var(--col-primary);
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a:hover > .highlight {
  color: var(--col-secondary);
}

#experiments {
  width: 100%;

  padding: 2em;
  box-sizing: border-box;
}

.spread-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  margin-bottom: 2em;
  color: var(--col-mid-gray);
}

.experiment img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;

  border-radius: 4px;
}

.experiment h2 {
  color: var(--col-mid-gray);
}

.experiment:hover h2 {
  color: var(--col-light-gray);
} 

footer {
  height: 30svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.idk {
  color: var(--col-mid-gray);
  margin-bottom: 1em;
}

.cr {
  color: var(--col-dark-gray);
  font-size: 0.6em;
}

@media only screen and (min-width: 900px) {
  #experiments {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .experiment img {
    aspect-ratio: 16/9;
  }

  .spread-header {
    width: 60%;
  }
  .experiment {
    width: 60%;
  }

  .experiment h2 {
    margin-top: 0px;
  }
}
