body {
  background-color: rgb(199, 199, 199);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

.card {
  width: 425px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
}

.mainRect {
  border-radius: 5px;
  background-size: cover;
  width: 425px;
  height: 674px;
  display: flex;
  justify-content: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.linkButton {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: black;
  margin: 10px;
  margin-left: 25%;
  width: 50%;
}

.sideRect2 {
  display: none;
}

@media only screen and (max-width: 1300px) {
  .card {
    width: 425px;
    flex-direction: column;
  }

  .card > *:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 1300px) {
  .card {
    width: 1275px;
  }

  .card > *:not(:last-child) {
    margin-right: 10px;
  }
}

#firstCard {
  background-image: url("../media/bg_awakening.jpg");
}

#secondCard {
  background-image: url("../media/bg_realization.jpg");
}

#thirdCard {
  background-image: url("../media/bg_acceptance.jpg");
}

#firstCard .artwork {
  background-image: url("../media/WEB_SIZE_sep_01_awakening.jpg");
}

#secondCard .artwork {
  background-image: url("../media/WEB_SIZE_sep_02_realization.jpg");
}

#thirdCard .artwork {
  background-image: url("../media/WEB_SIZE_sep_03_acceptance.jpg");
}

.artwork {
  width: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10%;
}
